<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bawei.mapper.AttendanceStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.bawei.pojo.AttendanceStatistics" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="late" property="late" jdbcType="INTEGER" />
    <result column="leave_early" property="leaveEarly" jdbcType="INTEGER" />
    <result column="over_time" property="overTime" jdbcType="INTEGER" />
    <result column="leave_time" property="leaveTime" jdbcType="INTEGER" />
    <result column="should_time" property="shouldTime" jdbcType="INTEGER" />
    <result column="real_time" property="realTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, date, create_time, late, leave_early, over_time, leave_time, should_time, 
    real_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bawei.pojo.AttendanceStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attendance_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from attendance_statistics
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from attendance_statistics
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bawei.pojo.AttendanceStatisticsExample" >
    delete from attendance_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bawei.pojo.AttendanceStatistics" >
    insert into attendance_statistics (id, user_id, date, 
      create_time, late, leave_early, 
      over_time, leave_time, should_time, 
      real_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{late,jdbcType=INTEGER}, #{leaveEarly,jdbcType=INTEGER}, 
      #{overTime,jdbcType=INTEGER}, #{leaveTime,jdbcType=INTEGER}, #{shouldTime,jdbcType=INTEGER}, 
      #{realTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bawei.pojo.AttendanceStatistics" >
    insert into attendance_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="late != null" >
        late,
      </if>
      <if test="leaveEarly != null" >
        leave_early,
      </if>
      <if test="overTime != null" >
        over_time,
      </if>
      <if test="leaveTime != null" >
        leave_time,
      </if>
      <if test="shouldTime != null" >
        should_time,
      </if>
      <if test="realTime != null" >
        real_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="late != null" >
        #{late,jdbcType=INTEGER},
      </if>
      <if test="leaveEarly != null" >
        #{leaveEarly,jdbcType=INTEGER},
      </if>
      <if test="overTime != null" >
        #{overTime,jdbcType=INTEGER},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=INTEGER},
      </if>
      <if test="shouldTime != null" >
        #{shouldTime,jdbcType=INTEGER},
      </if>
      <if test="realTime != null" >
        #{realTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bawei.pojo.AttendanceStatisticsExample" resultType="java.lang.Integer" >
    select count(*) from attendance_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update attendance_statistics
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.late != null" >
        late = #{record.late,jdbcType=INTEGER},
      </if>
      <if test="record.leaveEarly != null" >
        leave_early = #{record.leaveEarly,jdbcType=INTEGER},
      </if>
      <if test="record.overTime != null" >
        over_time = #{record.overTime,jdbcType=INTEGER},
      </if>
      <if test="record.leaveTime != null" >
        leave_time = #{record.leaveTime,jdbcType=INTEGER},
      </if>
      <if test="record.shouldTime != null" >
        should_time = #{record.shouldTime,jdbcType=INTEGER},
      </if>
      <if test="record.realTime != null" >
        real_time = #{record.realTime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update attendance_statistics
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      late = #{record.late,jdbcType=INTEGER},
      leave_early = #{record.leaveEarly,jdbcType=INTEGER},
      over_time = #{record.overTime,jdbcType=INTEGER},
      leave_time = #{record.leaveTime,jdbcType=INTEGER},
      should_time = #{record.shouldTime,jdbcType=INTEGER},
      real_time = #{record.realTime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bawei.pojo.AttendanceStatistics" >
    update attendance_statistics
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="late != null" >
        late = #{late,jdbcType=INTEGER},
      </if>
      <if test="leaveEarly != null" >
        leave_early = #{leaveEarly,jdbcType=INTEGER},
      </if>
      <if test="overTime != null" >
        over_time = #{overTime,jdbcType=INTEGER},
      </if>
      <if test="leaveTime != null" >
        leave_time = #{leaveTime,jdbcType=INTEGER},
      </if>
      <if test="shouldTime != null" >
        should_time = #{shouldTime,jdbcType=INTEGER},
      </if>
      <if test="realTime != null" >
        real_time = #{realTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bawei.pojo.AttendanceStatistics" >
    update attendance_statistics
    set user_id = #{userId,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      late = #{late,jdbcType=INTEGER},
      leave_early = #{leaveEarly,jdbcType=INTEGER},
      over_time = #{overTime,jdbcType=INTEGER},
      leave_time = #{leaveTime,jdbcType=INTEGER},
      should_time = #{shouldTime,jdbcType=INTEGER},
      real_time = #{realTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>