<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bawei.mapper.AttendanceSettingMapper" >
  <resultMap id="BaseResultMap" type="com.bawei.pojo.AttendanceSetting" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="office_hours" property="officeHours" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="over_time" property="overTime" jdbcType="VARCHAR" />
    <result column="closing_time" property="closingTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, office_hours, start_time, over_time, closing_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bawei.pojo.AttendanceSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from attendance_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from attendance_setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from attendance_setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bawei.pojo.AttendanceSettingExample" >
    delete from attendance_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bawei.pojo.AttendanceSetting" >
    insert into attendance_setting (id, office_hours, start_time, 
      over_time, closing_time)
    values (#{id,jdbcType=VARCHAR}, #{officeHours,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{overTime,jdbcType=VARCHAR}, #{closingTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bawei.pojo.AttendanceSetting" >
    insert into attendance_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="officeHours != null" >
        office_hours,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="overTime != null" >
        over_time,
      </if>
      <if test="closingTime != null" >
        closing_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="officeHours != null" >
        #{officeHours,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="overTime != null" >
        #{overTime,jdbcType=VARCHAR},
      </if>
      <if test="closingTime != null" >
        #{closingTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bawei.pojo.AttendanceSettingExample" resultType="java.lang.Integer" >
    select count(*) from attendance_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update attendance_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.officeHours != null" >
        office_hours = #{record.officeHours,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.overTime != null" >
        over_time = #{record.overTime,jdbcType=VARCHAR},
      </if>
      <if test="record.closingTime != null" >
        closing_time = #{record.closingTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update attendance_setting
    set id = #{record.id,jdbcType=VARCHAR},
      office_hours = #{record.officeHours,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      over_time = #{record.overTime,jdbcType=VARCHAR},
      closing_time = #{record.closingTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bawei.pojo.AttendanceSetting" >
    update attendance_setting
    <set >
      <if test="officeHours != null" >
        office_hours = #{officeHours,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="overTime != null" >
        over_time = #{overTime,jdbcType=VARCHAR},
      </if>
      <if test="closingTime != null" >
        closing_time = #{closingTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bawei.pojo.AttendanceSetting" >
    update attendance_setting
    set office_hours = #{officeHours,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      over_time = #{overTime,jdbcType=VARCHAR},
      closing_time = #{closingTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>